{{- /* Giscus 评论系统 */ -}}
{{- if and .Site.Params.comments (not .Params.disabledComments | default false) -}}
<div class="giscus">
  <script src="https://giscus.app/client.js"
    data-repo="{{ .Site.Params.giscus.repo }}"
    data-repo-id="{{ .Site.Params.giscus.repoID }}"
    data-category="{{ .Site.Params.giscus.category }}"
    data-category-id="{{ .Site.Params.giscus.categoryID }}"
    data-mapping="{{ .Site.Params.giscus.mapping }}"
    data-strict="{{ .Site.Params.giscus.strict }}"
    data-reactions-enabled="{{ .Site.Params.giscus.reactionsEnabled }}"
    data-emit-metadata="{{ .Site.Params.giscus.emitMetadata }}"
    data-input-position="{{ .Site.Params.giscus.inputPosition }}"
    data-theme="{{ .Site.Params.giscus.theme }}"
    data-lang="{{ .Site.Params.giscus.lang }}"
    crossorigin="anonymous"
    async>
  </script>
</div>
{{- end -}}